* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: cadetblue;
}

.container {
    background-color: aliceblue;
    width: 95%;
    max-height: 95%;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px 20px 0 0;
}

.header {
    margin: auto;
    padding: 0 20px;
    border-radius: 20px 20px 0 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

  li {
    list-style-type: none;
}

  li > a {
    color: inherit;
    text-decoration: none;
}

.destaque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 10px;
}

.resumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.resumo > p {
    margin: 10px auto;
    font-size: 60;
    text-align: justify;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    

    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    margin: 10px 0;
    width: 267px;
    height: 200px;
}

.container-photos {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: 267px;
    height: 200px;
}

.img img {
    max-width: 267px;
    max-height: 200px;
    object-fit: contain;
    width: auto;
    height: auto;
}



.divisoria {
    background-color: black;
    width: 99%;
    margin: 0 auto;
    height: 2px;
}

.subtitulo {
    text-align: center;
    margin-top: 10px;
}

.destaques-description {
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}

.ponteiros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.subponteiros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subponteiros > svg {
    margin-bottom: 10px;
}

.subponteiros > p {
    text-align: justify;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.dropdown {
    display: none;
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;
}

.dropdown h3 {
    margin: 0 5px 5px 5px;
}

.dropdown a {
    text-decoration: none;
}

.subponteiros:hover .dropdown{
    display: block;
}

.subponteiros:not(:hover) .dropdown {
    display: none;
}

footer {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .container {
        width: 70dvw;
        margin: 5px 0 10px 10px;
    }
    
    .header {
        margin: auto;
        padding: 0 20px;
        border-radius: 20px 20px 0 0;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .header h1 {
        font-size: 20px;
    }

    .destaque {
        flex-direction: column-reverse;
    }
 
    .resumo {
        width: fit-content;
    }

    .carrossel {
        width: 230px;
        height: 170px;
    }

    .container-photos {
        max-width: 230px;
        max-height: 200px;
    }

    img {
        max-width: 230px;
        max-height: 200px;
    }

    .ponteiros {
        flex-direction: column;
    }
}