* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: cadetblue;
}

.container {
    background-color: aliceblue;
    width: 95%;
    max-height: 95%;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px 20px 0 0;
}

header {
    margin: auto;
    padding: 0 20px;
    border-radius: 20px 20px 0 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

.destaque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 10px;
}

.resumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.resumo > p {
    margin: 10px auto;
    font-size: 60;
    text-align: justify;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    

    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    margin: 10px 0;
    width: 267px;
    height: 200px;
}

.container-photos {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: 267px;
    height: 200px;
}

.img img {
    max-width: 267px;
    max-height: 200px;
    object-fit: contain;
    width: auto;
    height: auto;
}



.divisoria {
    background-color: black;
    width: 99%;
    margin: 0 auto;
    height: 2px;
}

.subtitulo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.ponteiros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.subponteiros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subponteiros > svg {
    margin-bottom: 10px;
}

.subponteiros > p {
    text-align: justify;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
}